
<mat-grid-list cols="8" rowHeight="40px">
  <mat-grid-tile colspan="1">
    <a mat-button color="primary" [routerLink]="['/home']"><mat-icon>home</mat-icon>Home</a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <a mat-button color="primary" *ngIf="authenticated()" [routerLink]="['/team']"><mat-icon>text_fields</mat-icon>Team</a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <a mat-button color="primary" *ngIf="authenticated()" [routerLink]="['/add_friends']"><mat-icon>group_add</mat-icon>Add Friends</a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <a mat-button color="primary" *ngIf="authenticated()" [routerLink]="['/chat']"><mat-icon>speaker_notes</mat-icon>Chat</a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <a mat-button color="primary" *ngIf="authenticated()" [routerLink]="['/balance']"><mat-icon>local_atm</mat-icon>Top up balance</a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <a mat-button color="primary" *ngIf="authenticated()" [routerLink]="['/all_matches']"><mat-icon>streetview</mat-icon>Matches</a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <a mat-button color="primary" *ngIf="!authenticated()" [routerLink]="['/login']"><mat-icon>login</mat-icon>Login</a>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <button mat-raised-button *ngIf="authenticated()" (click)="logout()">Logout</button>
  </mat-grid-tile>
</mat-grid-list>

<div class="container">
  <div class="nav-push"></div>
  <router-outlet></router-outlet>
  <div class="push"></div>
</div>

<footer>
  <p>Copyright</p>
</footer>
