<div [hidden]="!error" class="danger">
  {{error}}
</div>
<br>
<form (submit)="topBalance()" role="form">
  <mat-form-field appearance="fill">
    <mat-label for="balance">Deposit</mat-label>
    <input matInput [(ngModel)]="user.balance"
           class="form-control" id="balance" name="balance"
           type="number" min="100" required #balanceField="ngModel"/>
  </mat-form-field>
  <br>
  <div [hidden]="!balanceField.errors?.required || !balanceField.touched" class="danger">
    Minimum deposit amount 100$
  </div>
  <button mat-raised-button color="primary" type="submit">deposit</button>
</form>
